# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* Present most popular tools
* List open source tools
* List some libraries

## Author:
Estelle C.

Some of the popular languages that Data Scientists use are:

1. Python
2. Matlab
3. R
4. sql
5. C++
6. Fortran,....

Some of the commonly used libraries used by Data Scientists include:
1. gplot
2. earthquake
3. numpy
4. matplotlib
5. panda
6. tensorflow,...


Data Science Tools|
-------|
R |
Python |
MLFlow |

------------------------------------------------------
### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Estelle C.